<nav
  class="w-full fixed top-0 flex flex-col sm:flex-row sm:gap-5 transition duration-500 pt-4 pb-4 pl-2 pr-2
    {{if (and (not this.isDesktop) this.menuVisible) 'bg-slate-300'}}"
  {{did-insert this.handleMount}}
>
  {{#each
    (array
      (hash href="#intro" title="<Naveen />" fixed=true)
      (hash href="#about" title="About")
      (hash href="#projects" title="Projects")
      (hash href="#skills" title="Skills")
    )
    as |item|
  }}
    {{#if (or this.isDesktop item.fixed)}}
      <a href={{item.href}} {{on 'click' this.closeMenu}}>{{item.title}}</a>
    {{else}}
      <a
        href={{item.href}}
        class="overflow-hidden transition-all ease-in-out duration-500
          {{if this.menuVisible 'max-h-40 mt-4 h-100' 'h-0 max-h-40 mt-0'}}"
          {{on 'click' this.closeMenu}}
      >{{item.title}}</a>
    {{/if}}
  {{/each}}
  <span
    class="fixed right-0 cursor-pointer visible sm:hidden mr-4"
    {{on "click" this.toggleMenu}}
  >
    {{#if this.menuVisible}}
      {{svg-jar "close" width="32px" height="32px"}}
    {{else}}
      {{svg-jar "menu_hamburger" width="32px" height="32px"}}
    {{/if}}
  </span>
</nav>